<!-- <app-madhuri-patel>hello</app-madhuri-patel>
<app-madhuri-patel>jdghdgdj</app-madhuri-patel>
<app-user-profiles *ngFor="let u of  users" 
[userName]="u.name" 
[isSingle]="u.issingle" 
[Salary]="u.Salary" (myevent)="receiveddata($event)"></app-user-profiles>
<!-- <app-user-profiles userName="Priyanka"></app-user-profiles>
<app-user-profiles userName="Tanya"></app-user-profiles> -->

<!--<button (click)="clear()">clear user</button> -->
<!-- <app-joke></app-joke> -->
 <app-a></app-a>
 <app-b1></app-b1>
